.sidebar{
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 18px;
    background-color: var(--basfarg);;
    height: 100%;
    width: 12%;

}

.sidebar ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    list-style-type: none;
}

.sidebar li{
    border: white solid 1px;
    padding: 10px;
    margin: 3px;
}


.sidebar a{
    padding: 10px;
    color: white;
    text-decoration: none;

}

.hamburger {
    display: none;
    position: absolute;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: white;
  }

@media (max-width: 768px){

    .hamburger{
        display: block;
        position: absolute;
        top: 0;
    }

    .sidebar {
    display: none;
    position: absolute;
    left: 0;
    color: black;
    background-color: var(--basfarg);
    width: 20%;
    z-index: 1000;

    }

    .sidebar ul{
    margin-top: 0px;
    }

    .sidebar.open {
    display: block;
    }
}
