.postlist-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 60%;
    gap: 20px;

}

@media (max-width: 768px){
    .postlist-container{
        width: 50%;
    }

}